---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("matchups");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"matchups">;

const post = Astro.props;

import { createRequire } from "module";
const require = createRequire(import.meta.url);
const helpers = require("../../../scripts/helpers.js");

const { Content } = await render(post);
---

<Layout>
  <div>
    <Content />
  </div>

  <ul>
    <li>
      <a
        class="blog-post winner"
        href={`/restaurants/${helpers.toKebabCase(post.data.winner)}/`}
      >
        🎉 {post.data.winner} 🎉
      </a>
    </li>

    <li>
      <a
        class="blog-post loser"
        href={`/restaurants/${helpers.toKebabCase(post.data.loser)}/`}
      >
        {post.data.loser}
      </a>
    </li>
  </ul>
</Layout>
<style>
  ul {
    list-style: none;
    padding: 0;
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
  }
  .blog-post {
    background: white;
    border: 6px double #d90429;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  .blog-post {
    text-decoration: none;
    color: #d90429;
    font-weight: bold;
  }
  .loser {
    border-color: #666;
    color: #666;
  }

  .blog-post p {
    color: #666;
    margin-top: 0;
  }
</style>
