---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("matchups");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"matchups">;

const post = Astro.props;

import { createRequire } from "module";
const require = createRequire(import.meta.url);
const helpers = require("../../../scripts/helpers.js");

const { Content } = await render(post);
---

<Layout>
  <a href={`/restaurants/${helpers.toKebabCase(post.data.winner)}/`}>
    {post.data.winner}
  </a>

  <a href={`/restaurants/${helpers.toKebabCase(post.data.loser)}/`}>
    {post.data.loser}
  </a>

  <Content />
</Layout>
