---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("restaurants");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"restaurants">;

const post = Astro.props;

const { Content } = await render(post);
---

<!-- {splitContent.map((content) => <p>{content}</p>)} -->
<Layout>
  <Content />

  Wins: {post.data.wins}
</Layout>
