---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

const matchups = await getCollection("matchups");
---

<Layout>
  <h1>King of Carnegie</h1>
  <p>Here are the matchups:</p>
  <ul>
    {matchups.map((matchup) => <li>{matchup.title}</li>)}
  </ul>
</Layout>
