---
const currentYear = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <title>King of Carnegie</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Luckiest+Guy&display=swap");

      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #222;
        font-family: "Fredoka", sans-serif;

        display: flex;
        flex-direction: column;
      }

      header {
        background-color: #d90429;
        color: white;
        padding: 2rem 1rem;
        text-align: center;
        font-family: "Luckiest Guy", cursive;
        font-size: 3rem;
        text-shadow: 2px 2px #660000;
      }

      header a {
        text-decoration: none;
        color: white;
      }

      .checkerboard {
        background: repeating-linear-gradient(
          45deg,
          #fff,
          #fff 10px,
          #d90429 10px,
          #d90429 20px
        );
        height: 20px;
      }

      footer {
        text-align: center;
        padding: 1rem;
        background-color: #d90429;
        color: white;
        font-size: 0.9rem;
      }
    </style>
  </head>
  <header>
    <a href="/"> King of Carnegie </a>
  </header>
  <div class="checkerboard"></div>

  <body>
    <main>
      <slot />
    </main>
  </body>

  <div class="checkerboard"></div>

  <footer>
    © {currentYear} King of Carnegie
  </footer>

  <style is:global>
    main {
      max-width: 800px;
      margin: 2rem auto;
      padding: 0 1rem;
      flex: 1;
    }
  </style>


</html>
